::ng-deep .qr-scan-area {
  position: relative;
}
::ng-deep .qr-scan-area {
  width: 100%;
}

::ng-deep .qr-scan-area zxing-scanner .qr-area {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 50px);
  top: 0;
  width: 100%;
}
::ng-deep .qr-scan-area zxing-scanner .qr-area .area {
  height: 200px;
  width: 200px;
  border: 2px solid red;
}

a {
  font-size: 20px;
  margin-top: 20px;
  display: block;
}

.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0 10px;
}
