<barcode-scanner-livestream
  type="code_128"
  (valueChanges)="onValueChanges($event)"
  (started)="(onStarted)"
></barcode-scanner-livestream>
<div [hidden]="!barcodeValue">
  {{ barcodeValue1 }}
</div>

<!-- <ngx-barcode [bc-value]="barcodeValue1" [bc-display-value]="true"></ngx-barcode>

<ngx-barcode6
  [bc-format]="'CODE128'"
  [bc-value]="'12345678901231'"
  [bc-display-value]="true"
>
</ngx-barcode6> -->

<mat-form-field appearance="fill">
  <mat-select
    (selectionChange)="onSheetChange($event)"
    placeholder="Select sheet"
  >
    <mat-option *ngFor="let sheet of sheets" [value]="sheet">
      Sheet {{ sheet }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="slNo">
      <th mat-header-cell *matHeaderCellDef>Sl. No.</th>
      <td mat-cell *matCellDef="let element">{{ element.slNo }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="grossWt">
      <th mat-header-cell *matHeaderCellDef>Gross Wt.</th>
      <td mat-cell *matCellDef="let element">{{ element.grossWt }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="beads">
      <th mat-header-cell *matHeaderCellDef>Beads</th>
      <td mat-cell *matCellDef="let element">{{ element.beads }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="netWt">
      <th mat-header-cell *matHeaderCellDef>Net Wt.</th>
      <td mat-cell *matCellDef="let element">{{ element.netWt }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="A">
      <th mat-header-cell *matHeaderCellDef>A</th>
      <td mat-cell *matCellDef="let element">{{ element.A }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="B">
      <th mat-header-cell *matHeaderCellDef>B</th>
      <td mat-cell *matCellDef="let element">{{ element.B }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="D">
      <th mat-header-cell *matHeaderCellDef>D</th>
      <td mat-cell *matCellDef="let element">{{ element.D }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="E">
      <th mat-header-cell *matHeaderCellDef>E</th>
      <td mat-cell *matCellDef="let element">{{ element.E }}</td>
    </ng-container>

    <ng-container matColumnDef="karigarName">
      <th mat-header-cell *matHeaderCellDef>Karigar Name</th>
      <td mat-cell *matCellDef="let element">{{ element.karigarName }}</td>
    </ng-container>

    <ng-container matColumnDef="exclNo">
      <th mat-header-cell *matHeaderCellDef>Excl No.</th>
      <td mat-cell *matCellDef="let element">{{ element.exclNo }}</td>
    </ng-container>

    <ng-container matColumnDef="barcode">
      <th mat-header-cell *matHeaderCellDef>Barcode</th>
      <td mat-cell *matCellDef="let element">
        <!-- <ngx-barcode
          
          [bc-value]="element.barcodeValue"
          [bc-display-value]="true"
          [bc-height]="50"
          [bc-width]="1"
          [bc-font-size]="10"
        ></ngx-barcode> -->

        <ngx-qrcode [value]="element.barcodeValue" cssClass="aclass">
        </ngx-qrcode>

        <!-- <ngx-barcode6
          [bc-format]="'CODE128'"
          [bc-value]="element.barcodeValue"
          [bc-display-value]="true"
          [bc-height]="50"
        >
        </ngx-barcode6> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<!-- Copyright 2021 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
